@model List<LoanContract>

<abp-page-subheader title="لیست قراردادها" description="قراردادهای ثبت‌شده سیستم">

    <a href="LoanContracts/Create" class="btn btn-success">
        <i class="fa fa-plus btn-md-icon"></i>
        <span class="d-none d-md-inline-block">قرارداد جدید</span>
    </a>

</abp-page-subheader>

<div class="container-fluid">
    <div class="card">
        <div class="card-body table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr>
                        <th>عنوان</th>
                        <th>افراد</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.ContractTitle</td>
                            <td>
                                @foreach (var p in c.LoanContractPersons)
                                {
                                    <div>@p.Person.FullName - @p.Role</div>
                                }
                            </td>
   
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
