@model List<Person>

<a class="btn btn-success" href="/Persons/Create">افزودن فرد جدید</a>
<br />
<br />

<h2>لیست افراد</h2>

<table class="table">
    <thead>
        <tr>
            <th>نام</th>
            <th>عملیات</th> <!-- ستون جدید برای دکمه جزئیات -->
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FullName</td>
                <td>
                    <a class="btn btn-info" href="/Persons/Details/@p.Id">جزئیات</a>
                </td>
            </tr>
        }
    </tbody>
</table>
