@model List<Person>

<a class="btn btn-success" href="/Persons/Create">افزودن فرد جدید</a>
<br />
<br />


<h2>لیست افراد</h2>

<table class="table">
    <tr>
        <th>نام</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.FullName</td>
        </tr>
    }
</table>
